.directory-menu {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.link-holder {
    min-width: 30%;
    flex: 1;
}
.link-holder a{
    display: block;
    width: 100%;
    height: auto;
}